/* .hello{
    background-color: rgb(13, 31, 133);
}

.navbar-brand{
    width: 200px;
}

.navbar-dark .navbar-nav .nav-link{
    font-size: 17px;
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-item{
    margin: 0 30px;
} */